Image-Grabber-v12.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Working Hbase write</description>
  <groupId>d53e1478-0166-1000-0000-0000312b1be8</groupId>
  <name>Image-Grabber-v12</name>
  <snippet>
    <connections>
      <id>863f2372-115e-30d5-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1657.8858571355584</x>
        <y>902.6335245391964</y>
      </bends>
      <bends>
        <x>1651.3823170964959</x>
        <y>47.40711289855233</y>
      </bends>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>50f21fb7-772b-3170-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>d2eb372a-da0a-39f5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>974a1e99-5213-3d32-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1474.0653004949334</x>
        <y>514.2111002227902</y>
      </bends>
      <bends>
        <x>1474.0653004949334</x>
        <y>95.32960379334679</y>
      </bends>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>50f21fb7-772b-3170-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>fbb86bb3-3d32-3ecd-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>97736700-af30-3471-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>fbb86bb3-3d32-3ecd-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>b4c5635c-9058-32e7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>988e2e4e-ff29-3a8b-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>1e9bd93a-f819-3b15-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>jpg</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>fbb86bb3-3d32-3ecd-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a6177210-adea-3d07-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10</backPressureObjectThreshold>
      <bends>
        <x>452.06102803399585</x>
        <y>1384.7153726837278</y>
      </bends>
      <bends>
        <x>1781.5364919011834</x>
        <y>1381.3833414337278</y>
      </bends>
      <bends>
        <x>1759.8784108464959</x>
        <y>23.58574736329308</y>
      </bends>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>50f21fb7-772b-3170-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>8a5330a6-d482-390f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a8d05515-2cbd-39a8-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>609c37fc-86d1-3c7e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>csv</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>fbb86bb3-3d32-3ecd-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d1df9091-1b62-3885-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>50f21fb7-772b-3170-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>not.found</selectedRelationships>
      <selectedRelationships>permission.denied</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>022bfc6b-4c51-3ff4-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e747446b-6552-39cd-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>942.7842946355584</x>
        <y>1446.9857584259153</y>
      </bends>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>d8abb09a-60c6-3d99-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <source>
        <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
        <id>bf49d4d8-539b-3e0f-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ed15551d-50ac-3494-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
        <id>634e4d47-7499-3ee4-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>10083 Data</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>22fcb744-165a-346c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>005cd48b-527c-35e6-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1671.5798268621209</x>
        <y>1256.4326578399778</y>
      </bends>
      <bends>
        <x>1672.5190358464959</x>
        <y>39.27758372040978</y>
      </bends>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>50f21fb7-772b-3170-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <source>
        <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
        <id>bf49d4d8-539b-3e0f-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0c41d355-df18-3dae-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>8a5330a6-d482-390f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>22fcb744-165a-346c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>17f6c49d-8413-35eb-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>960.9474416082146</x>
        <y>1032.8097330352903</y>
      </bends>
      <bends>
        <x>1597.2470631902459</x>
        <y>1033.5449014923215</y>
      </bends>
      <bends>
        <x>1595.5953297918084</x>
        <y>62.3129793426632</y>
      </bends>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>50f21fb7-772b-3170-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>609c37fc-86d1-3c7e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>184cc729-64ae-3c4d-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1613.7313161199334</x>
        <y>754.7616983673214</y>
      </bends>
      <bends>
        <x>1609.2018971746209</x>
        <y>55.70535719605675</y>
      </bends>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>50f21fb7-772b-3170-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>1e9bd93a-f819-3b15-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1c64b3f7-25a3-3cbe-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>4de76937-7776-39ef-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>b7d446b7-81f6-3aa6-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>2a2b5259-3447-32ca-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>b4c5635c-9058-32e7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>022bfc6b-4c51-3ff4-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>2b21edd1-6180-3959-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1238.3294606511834</x>
        <y>1447.6083170196653</y>
      </bends>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>30d2fcf6-96b0-3466-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
        <id>72122602-301f-39ab-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>39040f75-5c7c-31f4-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>22fcb744-165a-346c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>7a5c7596-a708-335c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>40920d3e-fe7a-3676-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>022bfc6b-4c51-3ff4-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>f2f572cd-5807-3c49-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>501a4b28-4678-3d27-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>d8abb09a-60c6-3d99-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>8a5330a6-d482-390f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>51844c30-dc79-3437-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>d96aebec-d471-3b26-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>retry</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>30d2fcf6-96b0-3466-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>60f382f0-645f-3228-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>b7d446b7-81f6-3aa6-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>jpg</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>fbb86bb3-3d32-3ecd-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6f1edbf6-b98f-3fb5-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10</backPressureObjectThreshold>
      <bends>
        <x>2286.051486539969</x>
        <y>695.4394208615528</y>
      </bends>
      <bends>
        <x>2308.252190143371</x>
        <y>743.9636026641964</y>
      </bends>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>4de76937-7776-39ef-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>4de76937-7776-39ef-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7199b0fd-2894-314e-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>d96aebec-d471-3b26-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>retry</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>d8abb09a-60c6-3d99-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7a154db5-9a38-31da-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1004.2717824285271</x>
        <y>769.3093057891964</y>
      </bends>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>d2eb372a-da0a-39f5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <selectedRelationships>csv</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>fbb86bb3-3d32-3ecd-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7d3877fd-2615-3ba2-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>7a5c7596-a708-335c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>ad475d2e-6d6c-3ba0-0000-000000000000</groupId>
        <id>609c37fc-86d1-3c7e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>84c41257-81e9-39be-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>Pretty Print JSON</key>
          <value>
            <name>Pretty Print JSON</name>
          </value>
        </entry>
      </descriptors>
      <name>GenericJsonRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>cb88b214-8101-33c8-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>Pretty Print JSON</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.json.JsonRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>a63556cc-85a6-3d1d-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
      </descriptors>
      <name>JsonTreeReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>cb88b214-8101-33c8-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>MM/dd/yyyy HH:mm:ss.SSS</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.json.JsonTreeReader</type>
    </controllerServices>
    <controllerServices>
      <id>cb88b214-8101-33c8-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hwx-schema-registry-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>url</key>
          <value>
            <name>url</name>
          </value>
        </entry>
        <entry>
          <key>cache-size</key>
          <value>
            <name>cache-size</name>
          </value>
        </entry>
        <entry>
          <key>cache-expiration</key>
          <value>
            <name>cache-expiration</name>
          </value>
        </entry>
      </descriptors>
      <name>HWX Schema Registry</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>url</key>
          <value>http://wcb-iot-729-1-0.field.hortonworks.com:7788/api/v1</value>
        </entry>
        <entry>
          <key>cache-size</key>
          <value>1000</value>
        </entry>
        <entry>
          <key>cache-expiration</key>
          <value>1 hour</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
    </controllerServices>
    <controllerServices>
      <id>eb9171b5-131f-34dc-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hbase_1_1_2-client-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>
            <name>Hadoop Configuration Files</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>
            <name>Kerberos Principal</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>
            <name>Kerberos Keytab</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
          <value>
            <name>ZooKeeper Quorum</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
          <value>
            <name>ZooKeeper Client Port</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
          <value>
            <name>ZooKeeper ZNode Parent</name>
          </value>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
          <value>
            <name>HBase Client Retries</name>
          </value>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
          <value>
            <name>Phoenix Client JAR Location</name>
          </value>
        </entry>
      </descriptors>
      <name>HBase_1_1_2_ClientService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>/etc/nifi/conf/core-site.xml,/etc/nifi/conf/hdfs-site.xml,/etc/nifi/conf/hbase-site.xml</value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type>
    </controllerServices>
    <controllerServices>
      <id>f8300485-a1ed-316d-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>
            <name>Skip Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
      </descriptors>
      <name>GenericCSVReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>cb88b214-8101-33c8-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>custom</value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>,</value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>true</value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>"</value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>\</value>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVReader</type>
    </controllerServices>
    <controllerServices>
      <id>5d241694-b6a0-3753-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
      </descriptors>
      <name>GenericAvroRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>avro-embedded</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>cb88b214-8101-33c8-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
    </controllerServices>
    <processGroups>
      <id>c17a3a05-906f-3b11-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>901.5730366544774</x>
        <y>1176.3028557784228</y>
      </position>
      <comments>Preprocessing for array data relating to identified particles</comments>
      <contents>
        <connections>
          <id>8a3b675d-720f-3574-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>421a448c-4491-3f1f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>634e4d47-7499-3ee4-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>8b952557-0ae1-3ed8-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>99f7d4e0-ebc6-3f01-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>1ed14cd3-5d5d-3b26-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9c63f1de-4de1-31bf-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1</backPressureObjectThreshold>
          <bends>
            <x>1018.2256158406198</x>
            <y>1380.44723973999</y>
          </bends>
          <bends>
            <x>1050.4932861328125</x>
            <y>1431.2935791015625</y>
          </bends>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>8c4ce531-7506-318e-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>177ebad3-7e6e-38f4-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9ebc073c-1281-3ba6-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1339.4632568359375</x>
            <y>2633.68359375</y>
          </bends>
          <bends>
            <x>1213.9033203125</x>
            <y>2553.61376953125</y>
          </bends>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>1ed14cd3-5d5d-3b26-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>1ed14cd3-5d5d-3b26-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ad4b5ce0-2f59-3cec-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>72122602-301f-39ab-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>99f7d4e0-ebc6-3f01-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>bb264b58-0b79-3fbd-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>8c4ce531-7506-318e-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>e8cadcd0-6ef4-3f3f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c146e602-6025-3906-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>462244da-f5dd-3d19-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>5f806061-e6cc-30f8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c1e9e408-4fcf-3637-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>5f806061-e6cc-30f8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>177ebad3-7e6e-38f4-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e0b1a2af-4c8c-3b4f-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1016.3251973930768</x>
            <y>1591.601901312378</y>
          </bends>
          <bends>
            <x>1070.76611328125</x>
            <y>1641.696044921875</y>
          </bends>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>8c4ce531-7506-318e-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>5f806061-e6cc-30f8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e872cb5c-fb72-36a8-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>71237fbc-450d-3119-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>05f462b1-4197-3676-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f710f69a-ccd1-3c30-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>05f462b1-4197-3676-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <selectedRelationships>unmatched</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>462244da-f5dd-3d19-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0325aad6-c368-3996-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1</backPressureObjectThreshold>
          <bends>
            <x>1017.9632528457872</x>
            <y>1817.6559876098613</y>
          </bends>
          <bends>
            <x>1077.318359375</x>
            <y>1862.8359375</y>
          </bends>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>8c4ce531-7506-318e-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>462244da-f5dd-3d19-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0d07cbe0-9f4b-3c04-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1</backPressureObjectThreshold>
          <bends>
            <x>1115.3629150390625</x>
            <y>1974.8358154296875</y>
          </bends>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>8c4ce531-7506-318e-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>0</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>05f462b1-4197-3676-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>26bc93c7-589f-393a-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>bf49d4d8-539b-3e0f-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>e8cadcd0-6ef4-3f3f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>41215113-15d2-3eef-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>1ed14cd3-5d5d-3b26-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>8d4aac62-5eba-3358-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>58da9039-ef5b-3d15-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>e8cadcd0-6ef4-3f3f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>71237fbc-450d-3119-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>61acc1ca-c8ff-31ab-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>177ebad3-7e6e-38f4-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>421a448c-4491-3f1f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6ff8ca89-2b79-3917-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>2576.337646484375</x>
            <y>2370.17578125</y>
          </bends>
          <bends>
            <x>2519.860595703125</x>
            <y>1572.0645751953125</y>
          </bends>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>8c4ce531-7506-318e-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>0</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>99f7d4e0-ebc6-3f01-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>772e7561-7a8b-35fc-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>8d4aac62-5eba-3358-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>0</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>c17a3a05-906f-3b11-0000-000000000000</groupId>
            <id>05f462b1-4197-3676-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>fca812df-301c-393a-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Schema Write Strategy</key>
              <value>
                <name>Schema Write Strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
          </descriptors>
          <name>AvroRecordSetWriter_sem_meta_10083_data</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>Schema Write Strategy</key>
              <value>avro-embedded</value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>schema-name</value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>cb88b214-8101-33c8-0000-000000000000</value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>sem_meta_10083_main</value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>${avro.schema}</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
          <id>595b23d2-566f-3e58-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Schema Write Strategy</key>
              <value>
                <name>Schema Write Strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
          </descriptors>
          <name>AvroRecordSetWriter_sem_meta_10083_particle</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>Schema Write Strategy</key>
              <value>avro-embedded</value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>schema-name</value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>cb88b214-8101-33c8-0000-000000000000</value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>sem_meta_10083_particle</value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>${avro.schema}</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <inputPorts>
          <id>634e4d47-7499-3ee4-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>54.33971185544175</x>
            <y>1134.991821335504</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>SEM-in</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <outputPorts>
          <id>8c4ce531-7506-318e-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>2152.758866246835</x>
            <y>1445.7339712258604</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>SEM-out_failure</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
          <validationErrors>'Port 'SEM-out_failure'' is invalid because Output connection for port 'SEM-out_failure' is not defined.</validationErrors>
        </outputPorts>
        <outputPorts>
          <id>bf49d4d8-539b-3e0f-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>2146.8927056298558</x>
            <y>1675.1179047095275</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>SEM-out_data</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>72122602-301f-39ab-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>2143.838158515965</x>
            <y>1830.108105166962</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>SEM-out_particle</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>8d4aac62-5eba-3358-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>1218.9994430713637</x>
            <y>2190.990562251478</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>
                  <name>schema.name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>sem_meta_10083_particle</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>99f7d4e0-ebc6-3f01-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>2036.1553643757761</x>
            <y>2303.171116693115</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>record-reader</key>
                <value>a63556cc-85a6-3d1d-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>595b23d2-566f-3e58-0000-000000000000</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertRecord-10083_particle</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
          <id>e8cadcd0-6ef4-3f3f-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>1533.3582452351511</x>
            <y>1817.85202489624</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>record-reader</key>
                <value>a63556cc-85a6-3d1d-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>fca812df-301c-393a-0000-000000000000</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertRecord-10083_data</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
          <id>05f462b1-4197-3676-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>561.230820138582</x>
            <y>2022.308475883091</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>jolt-transform</key>
                <value>
                  <name>jolt-transform</name>
                </value>
              </entry>
              <entry>
                <key>jolt-custom-class</key>
                <value>
                  <name>jolt-custom-class</name>
                </value>
              </entry>
              <entry>
                <key>jolt-custom-modules</key>
                <value>
                  <name>jolt-custom-modules</name>
                </value>
              </entry>
              <entry>
                <key>jolt-spec</key>
                <value>
                  <name>jolt-spec</name>
                </value>
              </entry>
              <entry>
                <key>Transform Cache Size</key>
                <value>
                  <name>Transform Cache Size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>jolt-transform</key>
                <value>jolt-transform-chain</value>
              </entry>
              <entry>
                <key>jolt-custom-class</key>
              </entry>
              <entry>
                <key>jolt-custom-modules</key>
              </entry>
              <entry>
                <key>jolt-spec</key>
                <value>[
  {
    "operation": "shift",
    "spec": {
      "particles": ["particles-orig",
"particles-0",
"particles-1",
"particles-2",
"particles-3",
"particles-4"],
      "timestamp": "ts",
      "*": "&amp;"
    }
},
  {
    "operation": "shift",
    "spec": {
      "particles-orig": "particles-orig",
      "particles-0": {
        "*;*;*;*;*": {
          "$(0,1)": "tmp.particle1[]",
          "$(0,2)": "tmp.particle2[]",
          "$(0,3)": "tmp.particle3[]",
          "$(0,4)": "tmp.particle4[]",
          "$(0,5)": "tmp.particle5[]"
        }
      },
      "particles-1": {
        "*;*;*;*": {
          "$(0,1)": "tmp.particle1[]",
          "$(0,2)": "tmp.particle2[]",
          "$(0,3)": "tmp.particle3[]",
          "$(0,4)": "tmp.particle4[]"
        }
      },
      "particles-2": {
        "*;*;*": {
          "$(0,1)": "tmp.particle1[]",
          "$(0,2)": "tmp.particle2[]",
          "$(0,3)": "tmp.particle3[]"
        }
      },
      "particles-3": {
        "*;*": {
          "$(0,1)": "tmp.particle1[]",
          "$(0,2)": "tmp.particle2[]"
        }
      },
      "particles-4": "tmp.particle1[]",
      "*": "&amp;"
    }
},
  {
    "operation": "shift",
    "spec": {
      "tmp": {
        "*": {
          "0": {
            "*,*,*,*": {
              "@(4,runid)": "particles.[#4].runid",
              "@(4,ts)": "particles.[#4].ts",
              "$(0,1)": "particles.[#4].Xloc",
              "$(0,2)": "particles.[#4].Yloc",
              "$(0,3)": "particles.[#4].Xdim",
              "$(0,4)": "particles.[#4].Ydim"
            }
          }
        }
      },
      "*": "&amp;"
    }
},
  {
    "operation": "remove",
    "spec": {
      "particles-orig": ""
    }
}
]
</value>
              </entry>
              <entry>
                <key>Transform Cache Size</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>JoltTransformJSON</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
        </processors>
        <processors>
          <id>177ebad3-7e6e-38f4-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>563.2256158406199</x>
            <y>1340.44723973999</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>record-reader</key>
                <value>f8300485-a1ed-316d-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>84c41257-81e9-39be-0000-000000000000</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertRecord-PrereadCSV</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
          <id>1ed14cd3-5d5d-3b26-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>1354.087914997347</x>
            <y>2442.0285787310368</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>Particles</key>
                <value>
                  <name>Particles</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-content</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>Particles</key>
                <value>$.particles.*</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>421a448c-4491-3f1f-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>560.2679078542905</x>
            <y>1096.4935972669525</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>
                  <name>schema.name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>sem_meta_10083_preprocess</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute-PreprocessSchema</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>462244da-f5dd-3d19-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>562.9632528457872</x>
            <y>1777.6559876098613</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>Particles-original</key>
                <value>
                  <name>Particles-original</name>
                </value>
              </entry>
              <entry>
                <key>runid</key>
                <value>
                  <name>runid</name>
                </value>
              </entry>
              <entry>
                <key>timestamp</key>
                <value>
                  <name>timestamp</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>Particles-original</key>
                <value>$.particles</value>
              </entry>
              <entry>
                <key>runid</key>
                <value>$.runid</value>
              </entry>
              <entry>
                <key>timestamp</key>
                <value>$.timestamp</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>5f806061-e6cc-30f8-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>561.3251973930767</x>
            <y>1551.601901312378</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Record Reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>Record Reader</name>
                </value>
              </entry>
              <entry>
                <key>Record Writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>Record Writer</name>
                </value>
              </entry>
              <entry>
                <key>Records Per Split</key>
                <value>
                  <name>Records Per Split</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Record Reader</key>
                <value>a63556cc-85a6-3d1d-0000-000000000000</value>
              </entry>
              <entry>
                <key>Record Writer</key>
                <value>84c41257-81e9-39be-0000-000000000000</value>
              </entry>
              <entry>
                <key>Records Per Split</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitRecord</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitRecord</type>
        </processors>
        <processors>
          <id>71237fbc-450d-3119-0000-000000000000</id>
          <parentGroupId>c17a3a05-906f-3b11-0000-000000000000</parentGroupId>
          <position>
            <x>1227.5909958057387</x>
            <y>2019.682456782728</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-453</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>
                  <name>schema.name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>sem_meta_10083_data</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
      </contents>
      <name>Preprocess-SEM-particle</name>
    </processGroups>
    <processors>
      <id>8a5330a6-d482-390f-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>0.40956483325749105</x>
        <y>1402.3741849277394</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>record-reader</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
              <name>record-reader</name>
            </value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
              <name>record-writer</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>record-reader</key>
            <value>f8300485-a1ed-316d-0000-000000000000</value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>5d241694-b6a0-3753-0000-000000000000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertRecord</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ConvertRecord</type>
    </processors>
    <processors>
      <id>b4c5635c-9058-32e7-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>1032.4853605116837</x>
        <y>243.32218265533444</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>File Type</key>
            <value>
              <name>File Type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>File Type</key>
            <value>${filename:substringAfterLast('.')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>b7d446b7-81f6-3aa6-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>1829.6682554568677</x>
        <y>411.9978584260414</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>testattrib</key>
            <value>
              <name>testattrib</name>
            </value>
          </entry>
          <entry>
            <key>testattrib2</key>
            <value>
              <name>testattrib2</name>
            </value>
          </entry>
          <entry>
            <key>testattrib3</key>
            <value>
              <name>testattrib3</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>testattrib</key>
            <value>${file.lastModifiedTime:append('|'):append(${path:substringAfterLast('/')})}</value>
          </entry>
          <entry>
            <key>testattrib2</key>
            <value>${path:substringAfterLast('/')}</value>
          </entry>
          <entry>
            <key>testattrib3</key>
            <value>${file.lastModifiedTime:append('|'):append('/')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>d2eb372a-da0a-39f5-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>1132.967272472235</x>
        <y>839.1493034379106</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/nifi/conf/core-site.xml,/etc/nifi/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/apps/imaging/data/${path}</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS_datafiles</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>d8abb09a-60c6-3d99-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>645.7324489466483</x>
        <y>1537.1586873447532</y>
      </position>
      <bundle>
        <artifact>nifi-hive-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>hive-stream-metastore-uri</key>
            <value>
              <name>hive-stream-metastore-uri</name>
            </value>
          </entry>
          <entry>
            <key>hive-config-resources</key>
            <value>
              <name>hive-config-resources</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-database-name</key>
            <value>
              <name>hive-stream-database-name</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-table-name</key>
            <value>
              <name>hive-stream-table-name</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-partition-cols</key>
            <value>
              <name>hive-stream-partition-cols</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-autocreate-partition</key>
            <value>
              <name>hive-stream-autocreate-partition</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-max-open-connections</key>
            <value>
              <name>hive-stream-max-open-connections</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-heartbeat-interval</key>
            <value>
              <name>hive-stream-heartbeat-interval</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-transactions-per-batch</key>
            <value>
              <name>hive-stream-transactions-per-batch</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-records-per-transaction</key>
            <value>
              <name>hive-stream-records-per-transaction</name>
            </value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>
              <name>rollback-on-failure</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>hive-stream-metastore-uri</key>
            <value>thrift://wcb-iot-729-2-1.field.hortonworks.com:9083</value>
          </entry>
          <entry>
            <key>hive-config-resources</key>
          </entry>
          <entry>
            <key>hive-stream-database-name</key>
            <value>default</value>
          </entry>
          <entry>
            <key>hive-stream-table-name</key>
            <value>sem_image_data</value>
          </entry>
          <entry>
            <key>hive-stream-partition-cols</key>
          </entry>
          <entry>
            <key>hive-stream-autocreate-partition</key>
            <value>false</value>
          </entry>
          <entry>
            <key>hive-stream-max-open-connections</key>
            <value>8</value>
          </entry>
          <entry>
            <key>hive-stream-heartbeat-interval</key>
            <value>60</value>
          </entry>
          <entry>
            <key>hive-stream-transactions-per-batch</key>
            <value>100</value>
          </entry>
          <entry>
            <key>hive-stream-records-per-transaction</key>
            <value>10000</value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHiveStreaming_main</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hive.PutHiveStreaming</type>
    </processors>
    <processors>
      <id>d96aebec-d471-3b26-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>920.670741957163</x>
        <y>1822.945322320219</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>f2f572cd-5807-3c49-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>427.4853605116838</x>
        <y>0.32218265533444423</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Input Directory Location</key>
            <value>
              <name>Input Directory Location</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/etc/imaging</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Input Directory Location</key>
            <value>Local</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>([a-z A-Z 0-9 -]*).(?i)(\bjpg\b|\btif\b|\bcsv\b)</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListFile</type>
    </processors>
    <processors>
      <id>fbb86bb3-3d32-3ecd-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>709.1696866835588</x>
        <y>452.8088159561157</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>csv</key>
            <value>
              <name>csv</name>
            </value>
          </entry>
          <entry>
            <key>jpg</key>
            <value>
              <name>jpg</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>csv</key>
            <value>${"File Type":toUpper():contains('CSV')}</value>
          </entry>
          <entry>
            <key>jpg</key>
            <value>${"File Type":toUpper():contains('JPG')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>csv</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>jpg</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>022bfc6b-4c51-3ff4-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>423.4853605116838</x>
        <y>249.32218265533444</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File to Fetch</key>
            <value>
              <name>File to Fetch</name>
            </value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>
              <name>Completion Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
            <value>
              <name>Move Destination Directory</name>
            </value>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>
              <name>Move Conflict Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>
              <name>Log level when file not found</name>
            </value>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>
              <name>Log level when permission denied</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File to Fetch</key>
            <value>${absolute.path}/${filename}</value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>None</value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>Rename</value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>ERROR</value>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>ERROR</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>not.found</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>permission.denied</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.FetchFile</type>
    </processors>
    <processors>
      <id>1e9bd93a-f819-3b15-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>1129.1041132925475</x>
        <y>669.4436759965043</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/nifi/conf/core-site.xml,/etc/nifi/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/apps/imaging/images/${path}</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS_images</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>22fcb744-165a-346c-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>1152.4713834430336</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>10083 Data</key>
            <value>
              <name>10083 Data</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>10083 Data</key>
            <value>${schema.name:equalsIgnoreCase('sem_meta_10083')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAttribute-Preprocessing</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>10083 Data</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>30d2fcf6-96b0-3466-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>1185.1460231653984</x>
        <y>1536.7104451572532</y>
      </position>
      <bundle>
        <artifact>nifi-hive-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>hive-stream-metastore-uri</key>
            <value>
              <name>hive-stream-metastore-uri</name>
            </value>
          </entry>
          <entry>
            <key>hive-config-resources</key>
            <value>
              <name>hive-config-resources</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-database-name</key>
            <value>
              <name>hive-stream-database-name</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-table-name</key>
            <value>
              <name>hive-stream-table-name</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-partition-cols</key>
            <value>
              <name>hive-stream-partition-cols</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-autocreate-partition</key>
            <value>
              <name>hive-stream-autocreate-partition</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-max-open-connections</key>
            <value>
              <name>hive-stream-max-open-connections</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-heartbeat-interval</key>
            <value>
              <name>hive-stream-heartbeat-interval</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-transactions-per-batch</key>
            <value>
              <name>hive-stream-transactions-per-batch</name>
            </value>
          </entry>
          <entry>
            <key>hive-stream-records-per-transaction</key>
            <value>
              <name>hive-stream-records-per-transaction</name>
            </value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>
              <name>rollback-on-failure</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>hive-stream-metastore-uri</key>
            <value>thrift://wcb-iot-729-2-1.field.hortonworks.com:9083</value>
          </entry>
          <entry>
            <key>hive-config-resources</key>
          </entry>
          <entry>
            <key>hive-stream-database-name</key>
            <value>default</value>
          </entry>
          <entry>
            <key>hive-stream-table-name</key>
            <value>sem_image_particle</value>
          </entry>
          <entry>
            <key>hive-stream-partition-cols</key>
          </entry>
          <entry>
            <key>hive-stream-autocreate-partition</key>
            <value>true</value>
          </entry>
          <entry>
            <key>hive-stream-max-open-connections</key>
            <value>8</value>
          </entry>
          <entry>
            <key>hive-stream-heartbeat-interval</key>
            <value>60</value>
          </entry>
          <entry>
            <key>hive-stream-transactions-per-batch</key>
            <value>100</value>
          </entry>
          <entry>
            <key>hive-stream-records-per-transaction</key>
            <value>10000</value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHiveStreaming_particle</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hive.PutHiveStreaming</type>
    </processors>
    <processors>
      <id>4de76937-7776-39ef-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>1831.051486539969</x>
        <y>655.4394208615528</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>
              <name>Row Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>
              <name>Row Identifier Encoding Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>
              <name>Column Family</name>
            </value>
          </entry>
          <entry>
            <key>Column Qualifier</key>
            <value>
              <name>Column Qualifier</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>eb9171b5-131f-34dc-0000-000000000000</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>images</value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>${file.lastModifiedTime:append('|'):append(${path:substringBeforeLast('/'):substringAfterLast('/')})}</value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>image</value>
          </entry>
          <entry>
            <key>Column Qualifier</key>
            <value>${"File Type":toLower()}</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>25</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHBaseCell</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.PutHBaseCell</type>
    </processors>
    <processors>
      <id>50f21fb7-772b-3170-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>1029.483407386684</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/etc/imaging/log</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile-ErrorLog</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>609c37fc-86d1-3c7e-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>389.7142411476898</x>
        <y>706.8081488620121</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Grok Expression</key>
            <value>
              <name>Grok Expression</name>
            </value>
          </entry>
          <entry>
            <key>Grok Pattern file</key>
            <value>
              <name>Grok Pattern file</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Grok Expression</key>
            <value>%{GREEDYDATA:runid},%{DATESTAMP:timestamp},%{DATA:partnum},%{DATA:equipid},%{DATA:field1},%{DATA:field2},%{DATA:field3},%{DATA:field4},%{DATA:field5},%{DATA:field6},%{DATA:field7},%{DATA:field8},%{GREEDYDATA:contents}</value>
          </entry>
          <entry>
            <key>Grok Pattern file</key>
            <value>/usr/hdf/current/nifi/ext/default-grok-patterns.txt</value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExtractGrok-RoughParse</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ExtractGrok</type>
    </processors>
    <processors>
      <id>7a5c7596-a708-335c-0000-000000000000</id>
      <parentGroupId>ad475d2e-6d6c-3ba0-0000-000000000000</parentGroupId>
      <position>
        <x>388.5484138304182</x>
        <y>925.2125334046945</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>schema.name</key>
            <value>
              <name>schema.name</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>schema.name</key>
            <value>${grok.equipid:trim():prepend('sem_meta_')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
  </snippet>
  <timestamp>11/28/2018 23:04:51 UTC</timestamp>
</template>